.titulo{
    text-align: center;
}
.foto-mascotas{
    display: grid;
    gap: 20px;
    justify-items: center;
    padding: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.paco-foto{
    height: 400px;
    border: 3px solid black;
}
.pipo-foto{
    height: 400px;
    border: 3px solid black;
}
.bruno-foto{
    height: 400px;
    border: 3px solid black;
}
.lola-foto{
    height: 400px;
    width: 300px;
    border: 3px solid black;
}
p{
 text-align: center;
 font-weight: bold;
 font-size: 30px;
}