.titulo{
    color: red;
}
.texto{
    background-color: cyan;
    text-align: center;
}
.listas{
    background-color: antiquewhite;
}
.tabla{
    background-color: aqua;
}
tr td{
    color: red;
}
.footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 30px;
    font-size: 14px;
}
